<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>朝6 予定表</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <style type="text/css">
    body {
      font-family: Helvetica, 'Helvetica Neue', 'Mplus 1p', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic' !important;
      font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: Helvetica, 'Helvetica Neue', 'Mplus 1p', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic' !important;
    }

    div.app {
      margin: 20px;
      padding: 20px;
    }
  </style>
</head>

<body class="hold-transition fixed skin-blue-light sidebar-mini ">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="app">
            <br>
            <div>
              <h4> 朝6 予定表(多摩川 6-8時)</h4>
            </div>
            <section v-if="errored">
              <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
            </section>

            <section v-else>
              <div v-if="loading">Loading...</div>

              <div v-else>
                <table class="table">
                  <thead>
                    <tr>
                      <th>日程</th>
                      <th>コート</th>
                      <th>予約者</th>
                      <th>メモ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in items">
                      <td>{{ item.date }}</td>
                      <td>{{ item.court }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.memo }}</td>
                    </tr>
                  </tbody>
                </table>
                更新日({{update}})
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          update: null,
          loading: true,
          errored: false,
          items: null
        };

      },
      mounted() {
        axios.
          get("https://script.google.com/macros/s/AKfycbxCSzhWlKySt2prLmxiqSqRBTx7RMcVCphyHN6LrmgGcep7LId0CumXRUWqoVl0l5C9uw/exec").
          then(response => {
            console.log(response)
            const options = {
              year: 'numeric',
              month: '2-digit',
              day: '2-digit',
              hour: '2-digit',
              minute: '2-digit',
              hour12: false,
              timeZone: 'Asia/Tokyo'
            };
            const date = new Date(response.data.date);
            const formattedDate = date.toLocaleDateString('ja-JP', options);
            this.update = formattedDate;

            this.items = response.data.data;
          }).
          catch(error => {
            console.log(error);
            this.errored = true;
          }).
          finally(() => this.loading = false);
      }
    });
  </script>
</body>

</html>
